a{
    text-decoration: none;
}

header{
    background-color: black;
    color: white;
}

header img{
    width: 200px;
    max-width: 200px;
    border-radius: 100%;
    border: white solid 5px;
    margin-top: 5vh;
}

#name{
    font-size: 7vw;
}

.line{
    border: white 5px solid;
    border-radius: 5px;
    width: 30vw;
    margin: auto;
}

header h1{
    margin: 5vh;
}

header h2{
    background-color: rgba(128, 128, 128, 0.5);
    width: 55%;
    margin: auto;
    font-size: 3.5vh;
}

#bio{
    padding-bottom: 50px; 
    background-image: url("img/code_background.jpg");
    background-size: cover;
}

#school{
    font-size: 25px;
}